USE [master]
GO
/****** Object:  Database [estebandb]    Script Date: 02/06/2020 01:16:31 a. m. ******/
CREATE DATABASE [estebandb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'estebandb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\estebandb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'estebandb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\estebandb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [estebandb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [estebandb]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 02/06/2020 01:16:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[ApellidoPaterno])+' ')+[ApellidoMaterno]),
	[FechaDeNacimiento] [datetime] NOT NULL,
	[Edad]  AS (datediff(year,[FechaDeNacimiento],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesDeVenta]    Script Date: 02/06/2020 01:16:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesDeVenta](
	[Id] [uniqueidentifier] NOT NULL,
	[CantProductos] [int] NOT NULL,
	[DineroGanado] [int] NOT NULL,
	[Venta]  AS (([CantProductos]+' ')+[DineroGanado]),
	[FechaDeEntrega] [datetime] NOT NULL,
	[Fecha]  AS (datediff(year,[FechaDeEntrega],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domicilios]    Script Date: 02/06/2020 01:16:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilios](
	[Id] [uniqueidentifier] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Municipio] [varchar](50) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[DireccionEMC]  AS (((([Estado]+' ')+[Municipio])+' ')+[Calle]),
	[NumeroExt] [int] NOT NULL,
	[NumeroInt] [varchar](50) NOT NULL,
	[DireccionCEI]  AS (((([Calle]+' ')+[NumeroExt])+' ')+[NumeroInt]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 02/06/2020 01:16:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [uniqueidentifier] NOT NULL,
	[NomProducto] [varchar](50) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Producto]  AS (([Marca]+' ')+[Nomproducto]),
	[FechaDeExpiracion] [datetime] NOT NULL,
	[FechaDeElaboracion]  AS (datediff(year,[FechaDeExpiracion],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 02/06/2020 01:16:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedores](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[ApellidoPaterno])+' ')+[ApellidoMaterno]),
	[FechaDeNacimiento] [datetime] NOT NULL,
	[Edad]  AS (datediff(year,[FechaDeNacimiento],getdate())),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'12345678-1234-5678-1234-123456789012', N'Esther', N'Avila', N'Llamas', CAST(N'1972-11-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Clientes] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'11345678-1234-5678-6234-123456789012', N'Yaziel', N'Avila', N'Gomez', CAST(N'1972-11-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Clientes] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'12345678-1234-5678-2234-123456789013', N'Samuel', N'Sanchez', N'Avila', CAST(N'1998-11-07T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[DetallesDeVenta] ([Id], [CantProductos], [DineroGanado], [FechaDeEntrega]) VALUES (N'11345678-1234-5678-1234-123456789012', 30, 300, CAST(N'2002-04-04T00:00:00.000' AS DateTime))
INSERT [dbo].[DetallesDeVenta] ([Id], [CantProductos], [DineroGanado], [FechaDeEntrega]) VALUES (N'12345678-1234-5678-1234-123456789012', 50, 300, CAST(N'2002-04-04T00:00:00.000' AS DateTime))
INSERT [dbo].[DetallesDeVenta] ([Id], [CantProductos], [DineroGanado], [FechaDeEntrega]) VALUES (N'12345678-1234-5678-1234-123456789013', 98, 150, CAST(N'2004-04-04T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Domicilios] ([Id], [Estado], [Municipio], [Calle], [NumeroExt], [NumeroInt]) VALUES (N'12345671-1234-5678-1234-123456789012', N'Nuevo Leon', N'Escobedo', N'0', 265, N'998')
INSERT [dbo].[Domicilios] ([Id], [Estado], [Municipio], [Calle], [NumeroExt], [NumeroInt]) VALUES (N'12345678-1234-5678-1234-123456789012', N'Nuevo Leon', N'Escobedo', N'8', 255, N'178')
INSERT [dbo].[Domicilios] ([Id], [Estado], [Municipio], [Calle], [NumeroExt], [NumeroInt]) VALUES (N'12345672-1234-5678-1234-123456789013', N'Oaxaca', N'Villa Hidalgo', N'1', 904, N'78')
GO
INSERT [dbo].[Productos] ([Id], [NomProducto], [Marca], [FechaDeExpiracion]) VALUES (N'12345671-1234-5678-1234-123456789012', N'Donitas', N'Gamesita', CAST(N'2020-04-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Productos] ([Id], [NomProducto], [Marca], [FechaDeExpiracion]) VALUES (N'12345678-1234-5678-1234-123456789012', N'Donas', N'Gamesa', CAST(N'2020-04-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Productos] ([Id], [NomProducto], [Marca], [FechaDeExpiracion]) VALUES (N'12345672-1234-5678-1234-123456789013', N'Galletitas', N'Mariasita', CAST(N'2018-04-04T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Vendedores] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'11345678-1234-5678-1234-123456789012', N'Yaziel', N'Avila', N'Gomez', CAST(N'1972-11-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Vendedores] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'12345678-1234-5678-1234-123456789012', N'Esther', N'Avila', N'Llamas', CAST(N'1972-11-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Vendedores] ([Id], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaDeNacimiento]) VALUES (N'12345678-1234-5678-1234-123456789013', N'Samuel', N'Sanchez', N'Avila', CAST(N'1998-11-07T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Validar_Nombre]    Script Date: 02/06/2020 01:16:31 a. m. ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [Validar_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [Chekear_Nombre] CHECK  (([Nombre]<>''))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [Chekear_Nombre]
GO
USE [master]
GO
select * from Clientes left join Vendedores on Clientes.Nombre=Vendedores.Nombre
select * from Clientes left join Vendedores on Clientes.Edad=Vendedores.Edad

select top 5 Clientes.NombreCompleto from Clientes right join Productos on Clientes.Id=Productos.Id
select * from Clientes right join Vendedores on Clientes.Id=Vendedores.Id

select Clientes.Nombre from Clientes inner join Vendedores on Clientes.NombreCompleto=Vendedores.NombreCompleto
select * from Clientes inner join Vendedores on Clientes.Id=Vendedores.Id

Select Clientes.NombreCompleto from Clientes cross join Vendedores
select * from Vendedores cross join Domicilios

select Clientes.NombreCompleto from  Clientes where Clientes.Id IN (select Vendedores.Id from Vendedores where Vendedores.Edad>18)

-- Hize un select con into para crear una tabla, pero no supe como unir un with con un into UnU
select Clientes.NombreCompleto,Clientes.Edad into Clientes2 from Clientes
with Clientes3 (Clientes2.NombreCompleto,Clientes2.Edad) as (select Clientes.NombreCompleto,Clientes.Edad into Clientes2 from Clientes) Select Clientes2.NombreCompleto From Clientes3
